
iguana_ip = '127.0.0.1'
iguana_port = '7776'

bitcoind_ip = '127.0.0.1'
bitcoind_port = '8332'
bitcoind_rpcuser = 'user1'
bitcoind_rpcpassword = 'password1'

komodod_ip = '127.0.0.1'
komodod_port = '7771'
komodod_rpcuser = 'user1'
komodod_rpcpassword = 'password1'

assetchain_ip = '127.0.0.1'
assetchain_rpcuser = 'user2'
assetchain_rpcpassword = 'password2'

